<div class="or-title or-text-big">Your instance couldn't be deployed.</div>
<div class="or-alert-success or-text-big">Your instance couldn't be deployed.</div>
<div class="or-alert-error or-text-big">Your instance couldn't be deployed.</div>
<div class="or-alert-warning or-text-big">Your instance couldn't be deployed.</div>
<table class="or-table">
  <tbody>
    <tr>
      <td><b>Errors:</b></td>
      <td>Something</td>
    </tr>
  </tbody>
</table>
<div class="or-menu">
  <a href="http://google.com">Link a una parte</a>
  <a href="http://google.com">Otro link</a>
</div>
<ul class="or-list">
  <li>
    Elemento 1
  </li>
  <li>
    Elemento 2
  </li>
  <li>
    Elemento 3
  </li>
  <li>
    Elemento 4
  </li>
</ul>
<div class="or-separator"></div>
<p class="or-text or-text-small or-color-muted">
  This is a simple text with a url: http://10.215.100.106:28069/web?debug#id=14&amp;view_type=form&amp;model=mail.template&amp;action=107
</p>
<p class="or-text or-text-small or-color-muted">
  This another http://10.215.100.106:28069/web?debug#id=14&amp;view_type=form&amp;model=mail.template&amp;action=107
</p>
