<p class="or-title or-text-big">Your instance couldn't be deployed.</p>
<p class="or-alert-success or-text-big">Your instance couldn't be deployed.</p>
<p class="or-alert-error or-text-big">Your instance couldn't be deployed.</p>
<p class="or-alert-warning or-text-big">Your instance couldn't be deployed.</p>
<p class="or-text">
  With DeployV, you will be able to build and deploy your Odoo
  applications in Docker faster than ever.
</p>
<div class="or-table">
  <div class="or-separator"></div>
  <p><b>Instance:</b> OrchestV</p>
  <div class="or-separator"></div>
  <p><b>Version:</b> 11.0</p>
  <div class="or-separator"></div>
  <p>---</p>
  <div class="or-separator"></div>
  <p>The thruth can only be found in one place: The code!</p>
  <div class="or-separator"></div>
  <p>- <b>Robert C. Martin</b></p>
  <div class="or-separator"></div>
</div>
<p class="or-text">
  You can verify the thing you were looking for in this links:
</p>
<div class="or-menu">
  <a href="http://google.com">Link to somewhere</a>
  <a href="http://google.com">Another link</a>
</div>
<table>
  <thead>
    <tr>
      <th>Header 1</th>
      <th>Header 2</th>
      <th>Header 3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cell 1</td>
      <td>Cell 2</td>
      <td><a href="http://google.com">Cell 3 (with link)</a></td>
    </tr>
  </tbody>
</table>
<ul class="or-list">
  <li>Element 1</li>
  <li>Element 2</li>
  <li>Element 3</li>
  <li>Element 4</li>
</ul>
<div class="or-separator"></div>
<p class="or-text or-text-small or-color-muted">
  This is a simple text with a url: http://10.215.100.106:28069/web?debug#id=14&amp;view_type=form&amp;model=mail.template&amp;action=107
</p>
<p class="or-text or-text-small or-color-muted">
  This another http://10.215.100.106:28069/web?debug#id=14&amp;view_type=form&amp;model=mail.template&amp;action=107
</p>
