<p class="or-alert-success or-text-big">Your instance has been successfully updated!</p>
<p class="or-menu">
  % if ctx.direct_url:
  <a href="${ctx.direct_url}">Access instance</a>
  % endif
  % if ctx.nginx_url:
  <a href="${ctx.nginx_url}">Access Nginx</a>
  % endif
</p>
% if ctx.admin and ctx.adm_pass:
<table class="or-table">
  <tbody>
    <tr>
      <td>
        <b>Admin password:</b>
      </td>
      <td>
        ${ctx.admin}
      </td>
    </tr>
    <tr>
      <td>
        <b>Super admin password:</b>
      </td>
      <td>
        ${ctx.adm_pass}
      </td>
    </tr>
  </tbody>
</table>
% endif
% if ctx.db_name:
<table class="or-table">
  <tbody>
    <tr>
      <td>
        <b>Database name:</b>
      </td>
      <td>
        ${ctx.db_name}
      </td>
    </tr>
  </tbody>
</table>
% endif
<p class="or-menu">
  % if ctx.deploy_url:
  <a href="${ctx.deploy_url}">Verify the deploy</a>
  % endif
  % if ctx.history_url:
  <a href="${ctx.history_url}">Build history</a>
  % endif
</p>
<div class="or-separator"></div>
% if ctx.direct_url:
<p class="or-text or-text-small or-color-muted">
  Direct URL: ${ctx.direct_url}
</p>
% endif
% if ctx.nginx_url:
<p class="or-text or-text-small or-color-muted">
  Nginx URL: ${ctx.nginx_url}
</p>
% endif
% if ctx.deploy_url:
<p class="or-text or-text-small or-color-muted">
  Deploy URL: ${ctx.deploy_url}
</p>
% endif
% if ctx.history_url:
<p class="or-text or-text-small or-color-muted">
  Build history URL: ${ctx.history_url}
</p>
% endif
