<!--{
  "field_values": {
    "subject": "[${object.task_id.upper()}] ${object.instance_type.title()} instance ${object.customer_id.title()} deployed"
  }
}-->
<p class="or-alert-success or-text-big">Your instance has been deployed!</p>
{{access_menu}}
<p class="or-text"><b>Your instance information:</b></p>
<div class="or-table">
{{instance_info}}
{{instance_info_db}}
{{instance_info_duration}}
</div>
{{summary_logs}}
{{deploy_menu}}
{{ssh_access}}
<div class="or-separator"></div>
{{access_links}}
{{deploy_links}}
