<!--{
  "field_values": {
    "subject": "Notification deployed ${object.instance_type.title()} ${object.customer_id.title()}"
  }
}-->
<p class="or-title or-text-big">
  Your instance has ${object.total_time_deployed} running.
</p>
<p class="or-text">
  <b>You want to continue using it?</b>
</p>
{{access_menu}}
<p class="or-text"><b>Your instance information:</b></p>
<div class="or-table">
{{instance_info}}
{{instance_info_db}}
{{deploy_menu}}
</div>
<div class="or-separator"></div>
{{access_links}}
{{deploy_links}}
