<!--{
  "field_values": {
    "subject": "Schedule production instance ${object.customer_id.title()}"
  }
}-->
<p class="or-alert-warning or-text-big">An instance has been flagged to be deployed into production.</p>
% if ctx.error:
<p class="or-alert-error">
  But there was an error trying to push the image ${ctx.image}.
</p>
<div class="or-table">
  <p><b>Error:</b> ${ctx.error}</p>
</div>
% else:
<div class="or-table">
  <p><b>Requested by:</b> ${ctx.user}</p>
  <p><b>Image:</b> ${ctx.image}</p>
</div>
% endif
<p class="or-text"><b>Your instance information:</b></p>
<div class="or-table">
{{instance_info}}
</div>
{{deploy_menu}}
<div class="or-separator"></div>
{{deploy_links}}
