<p class="or-alert-error or-text-big">Your instance couldn't be updated!</p>
% if ctx.error.errors:
<p class="or-text">
  <b>Errors:</b>
</p>
% for error in ctx.error.errors:
<p class="or-text">
  ${error}
</p>
% endfor
% endif
% if ctx.error.critical_errors:
<p class="or-text">
  <b>Critical errors:</b>
</p>
% for critical in ctx.error.critical_errors:
<p class="or-text">
  ${critical}
</p>
% endfor
% endif
<p class="or-menu">
  % if ctx.deploy_url:
  <a href="${ctx.deploy_url}">Verify the deploy</a>
  % endif
  % if ctx.history_url:
  <a href="${ctx.history_url}">Build history</a>
  % endif
</p>
<div class="or-separator"></div>
% if ctx.deploy_url:
<p class="or-text or-text-small or-color-muted">
  Deploy URL: ${ctx.deploy_url}
</p>
% endif
% if ctx.history_url:
<p class="or-text or-text-small or-color-muted">
  Build history URL: ${ctx.history_url}
</p>
% endif
