<!--{
  "field_values": {
    "subject": "Error update database ${object.instance_type.title()} instance ${object.customer_id.title()}"
  }
}-->
<p class="or-alert-error or-text-big">Your instance couldn't be updated!</p>
% if ctx.error.errors or ctx.error.critical_errors:
<div class="or-logs">
% if ctx.error.errors:
  <div class="or-log-type">
    <p class="or-log-title-error">Errors:</p>
% for error in ctx.error.errors:
    <p class="or-log-msg">${error}</p>
% endfor
  </div>
% endif
% if ctx.error.critical_errors:
  <div class="or-log-type">
    <p class="or-log-title-error">Critical errors:</p>
% for error in ctx.error.critical_errors:
    <p class="or-log-msg">${error}</p>
% endfor
  </div>
% endif
</div>
% endif
<p class="or-text"><b>Your instance information:</b></p>
<div class="or-table">
{{instance_info}}
</div>
{{deploy_menu}}
<div class="or-separator"></div>
{{deploy_links}}
