<div class="or-alert-error or-text-big">Your instance couldn't be deployed.</div>
<table class="or-table">
  <tbody>
    <tr>
      <td>
        <b>Errors:</b>
      </td>
      <td>
        ${ctx.error}
      </td>
    </tr>
  </tbody>
</table>
<div class="or-menu">
  {% if ctx.deploy_url %}
  <a href="${ctx.deploy_url}">Verify the deploy</a>
  {% endif %}
  {% if ctx.history_url %}
  <a href="${ctx.history_url}">Build history</a>
  {% endif %}
</div>
<div class="or-separator"></div>
{% if ctx.deploy_url %}
<div class="or-text or-text-small or-color-muted">
  Deploy URL: ${ctx.deploy_url}
</div>
{% endif %}
{% if ctx.history_url %}
<div class="or-text or-text-small or-color-muted">
  Build history URL: ${ctx.history_url}
</div>
{% endif %}
