@color-deployv: #02669F;
@color-deployv-dark: #0D3E5F;
@color-deployv-pink: #FB3640;
@color-deployv-pink-dark: #FB1D28;
@color-danger: #F44336;
@color-warning: #FFCA28;
@color-success: #4CAF50;
@color-gray: #888;
@color-light-gray: lighten(@color-gray, 35%);
@color-dark-gray: darken(@color-gray, 45%);

@font-md: 14px;
@font-lg: @font-md * 1.5;
@font-sm: @font-md * 0.75;
@font-bold: 600;

@font-color-base: @color-dark-gray;
@font-color-inversed: #FFF;

@spacing-md: 10px;
@spacing-sm: @spacing-md * 0.5;
@spacing-lg: @spacing-md * 1.5;
@spacing-xl: @spacing-lg * 2;

@radius: 5px;
@radius-lg: @radius * 2;

.or-email {
  font-family: sans-serif;
  font-size: @font-md;
  color: @font-color-base;
  padding: @spacing-md;
  margin: 0 auto;
  min-width: 224px;
  max-width: 600px;

  /** Common **/

  * {
    margin: 0;
    padding: 0;
  }

  .or-color-muted { color: @color-gray; }
  .or-text-big { font-size: @font-lg; }
  .or-text-small { font-size: @font-sm; }

  /** Elements **/

  .or-text, .or-list {
    margin: @spacing-lg 0;
  }

  .or-title, .or-alert-success, .or-alert-error, .or-alert-warning {
    margin: @spacing-md 0;
    padding: @spacing-sm;
    border-radius: @radius;
    font-weight: @font-bold;
    text-align: center;
  }
  .or-alert-success { background-color: @color-success;  }
  .or-alert-error { background-color: @color-danger; }
  .or-alert-warning { background-color: @color-warning; }

  .or-table {
    margin: @spacing-lg 0;
    padding: 0 @spacing-md;

    p {
      padding: @spacing-md @spacing-sm;
    }
    .or-separator {
      margin: 0;
    }
  }

  table {
    border: 0;
    width: 100%;
    margin: @spacing-md 0;
    font-size: @font-md;
    border-spacing: 0;
    
    tr th, tr td {
      padding: @spacing-md 0;
      border-bottom: 1px @color-light-gray solid;
      text-align: center;

      a {
        color: @color-deployv;
        text-decoration: none;
      }
    }
  }

  .or-menu {
    padding: @spacing-md 0;

    a {
      display: inline-block;
      background-color: @color-deployv-pink;
      border: 1px solid @color-deployv-pink-dark;
      border-radius: @radius-lg;
      padding: @spacing-md @spacing-lg;
      margin-right: @spacing-sm;
      text-decoration: none;
      color: @font-color-inversed;
    }
  }

  .or-separator {
    height: 1px;
    background-color: @color-light-gray;
    margin: @spacing-lg 0;
    border-radius: @radius;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .or-list {
    margin-left: @spacing-xl;

    li:not(.last) {
      margin-bottom: @spacing-md;
    }
  }

  .or-logs {
    font-family: monospace;
    padding: @spacing-md;
    background-color: @color-dark-gray;
    color: @color-light-gray;
    border-radius: @radius;

    .or-log-type, .or-log-title-warning, .or-log-title-error {
      margin-bottom: @spacing-md;
    }
    .or-log-title-warning {
      color: @color-warning;
    }
    .or-log-title-error {
      color: @color-danger;
    }
  }

  /** Sections **/

  .or-header {
    .or-logo {
      padding: 10px;
      text-align: center;
    }
  }

  .or-content {
    padding: @spacing-md;
    border-radius: @radius;
  }

  .or-footer {
    margin-top: @spacing-md;

    .or-logo-vx {
      text-align: center;

      img {
        height: 25px;
      }
    }
  }
}
