.or-email {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0 auto;
  padding: 10px;
  min-width: 224px;
  max-width: 600px;

  * {
    margin: 0;
    padding: 0;
  }

  .or-color-vx { color: #A41D35; }
  .or-color-muted { color: #888888; }
  .or-text-big { font-size: 1.5em; }
  .or-text-small { font-size: 0.75em; }

  .or-orchest {
    margin: 10px 0;
  }

  .or-logo {
    background-color: #036495;
    border-radius: 5px 5px 0 0;
    padding: 22px;
    text-align: center;
  }

  .or-content {
    padding: 10px;
    padding-top: 0;
    background-color: #FCFCFC;
    border-radius: 5px;

    .or-title, .or-text, .or-list {
      margin: 15px 0;
    }

    .or-title {
      text-align: center;
      font-weight: 600;
    }
    .or-alert-success, .or-alert-error, .or-alert-warning {
      margin: 17px 0;
      text-align: center;
      padding: 7px;
      border-radius: 5px;
      font-weight: 600;
    }
    .or-alert-success { background-color: #53B25B;  }
    .or-alert-error { background-color: #D60024; }
    .or-alert-warning { background-color: #F8A040; }

    .or-table {
      margin: 15px 0;
      padding: 0 10px;

      p {
        padding: 7px 5px;
      }
      .or-separator {
        margin: 0;
      }
    }

    table {
      border: 0;
      width: 100%;
      
      tr th, tr td {
        padding: 5px 0;
        border-bottom: 1px #CCCCCC solid;
        text-align: center;

        a {
          color: #036495;
          text-decoration: none;
        }
      }
    }

    .or-menu {
      margin: 25px 0;

      a {
        background-color: #fb3640;
        border-color: #fb1d28;
        border-radius: 24px;
        padding: 10px;
        color: white;
        margin-right: 5px;
        line-height: 1.33;
        text-decoration: none;
      }
    }

    .or-separator {
      height: 1px;
      background-color: #CCCCCC;
      margin: 20px 0 10px 0;
      border-radius: 5px;
    }

    .or-list {
      margin-left: 25px;
    }

    .or-logs {
      font-family: monospace;
      padding: 10px;
      background-color: #111;
      color: #EEE;
      border-radius: 5px;

      .or-log-type {
        margin-bottom: 10px;
      }
      .or-log-title-warning {
        margin-bottom: 10px;
        color: #F8A040;
      }
      .or-log-title-error {
        margin-bottom: 10px;
        color: #D60024;
      }
      .or-log-msg {
        margin: 0;
      }
    }
  }

  .or-footer {
    margin-top: 25px;

    .or-logo-vx {
      text-align: center;

      img {
        height: 25px;
      }
    }
  }
}
